CLAUDE.md

# build artifacts
dist/
build/

# pycache
tests/__pycache__/
src/portpier/__pycache__/
src/portpier/data/__pycache__/
src/portpier/utils/__pycache__/
src/portpier/ui/__pycache__/
src/portpier/ui/widgets/__pycache__/
src/portpier/ui/screens/__pycache__/